graph-algorithms/data/
external_lightning_logs/
results/
outputs
__pycache__/
CLRS/
SALSA-CLRS/
lightning_logs/
checkpoints/
clean_snap.sh
outputs/
GraphGPT/
clrs_jax/saved/
clrs_jax/gradients/
data/
figures/
MetaMath/
gradients/
Graph-Reasoning-LLM/
clrs/
!clrs_experiments/clrs/
saved/
deprecated_/

*/graph_batches/
*/*/graph_batches/
*/shared_graph_cache/
*/*/shared_graph_cache/